@import 'bourbon/bourbon';
@import 'neat/neat';
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import 'colors';
@import 'layers';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin center() {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

@keyframes ripple {
  from {
    @include transform(scale(0));
    opacity: 1;
  }
  to {
    opacity: 0;
    @include transform(scale(250));
  }
}

* {
  @include margin(0);
  @include padding(0);
}

html,
body {
  color: white;
  overflow: hidden;
  font-family: 'Open Sans';
}

button {
  &:focus,
  &:active {
    outline: none;
  }

  .circle {
    @include position(absolute);
    background: rgba(white, 0.4);
    border: 1px solid transparent;
    border-radius: 50%;
    pointer-events: none;
    animation: ripple 0.75s 1;
    top: 50%;
    left: 50%;
    z-index: $middle;
  }
}
