@import 'colors';

.login {
  @include position(fixed);
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  background: rgb(116, 227, 190);
}
// div.login.show
//   form.login-form
//     div
//       div
//         input#username
//         label
//       /div
//       button.login-button
//     /div
//   /form
// /div
