@import 'default';

.login {
  @include position(fixed);
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $secondary;

  .login-form {
    @include center();
    height: 100%;
    width: 100%;

    .login-button {
      margin-top: 50px;
    }

    .__center {
      @include position(relative);
      width: 100%;
      text-align: left;

      input {
        @include position(relative);
        background: transparent;
        border: none;
        width: 100%;

        & + label {
          @include position(absolute);
          @include transition(all 0.2s ease);
          top: 0;
          left: 0;
          font-size: 1.25em;
          text-transform: capitalize;
          pointer-events: none;
        }

        &:focus,
        &:valid {
          & + label {
            @include transform(translate(-10%, -100%) scale(0.85));
          }

          & ~ .__underline {
            &:after,
            &:before {
              width: 50%;
            }
          }
        }

        &:focus {
          outline: none;
        }
      }

      .__underline {
        @include position(relative);
        border-bottom: 2px solid $acc2;
        width: 100%;

        &:after,
        &:before {
          @include position(absolute);
          @include transition(all 0.2s ease);
          content: '';
          bottom: -2px;
          width: 0;
          height: 2px;
          background: $acc1;
        }

        &:after {
          left: 50%;
        }
        &:before {
          right: 50%;
        }
      }
    }
  }
}

.login-button {
  @mixin shadow($color: transparent, $fade: 0) {
    box-shadow: 0 0 10px 0.5px rgba($color, $fade);
  }
  @include position(relative);
  @include padding(0);
  @include margin(0);
  width: 150px;
  height: 50px;
  border: none;
  background: $primary;
  color: $secondary;
  font-size: 1.25em;
  @include shadow();
  @include transition(all 0.15s linear);

  &:hover {
    @include shadow(black, 0.2);
    @include transform(scale(0.98));
    background: shade($primary, 5%);
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
  }

  .ripple {
    @include position(absolute);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @keyframes ripple {
      from {
        @include transform(scale(0));
        opacity: 1;
      }
      to {
        opacity: 0;
        @include transform(scale(250));
      }
    }

    .circle {
      @include position(absolute);
      background: rgba($secondary, 0.2);
      border: 1px solid transparent;
      border-radius: 50%;
      pointer-events: none;
      animation: ripple 0.75s 1;
      top: 50%;
      left: 50%;
    }
  }
}
