@import 'default';

$message-bay-height: 150px;

.messages {
  @include padding(0);
  @include margin(0);
  list-style: none;
  width: 100vw;
  height: calc(100vh - #{$message-bay-height});
  overflow-x: hidden;
  overflow-y: scroll;
  color: black;
}

#message-bay {
  @include position(fixed);
  @include display(flex);
  @include flex-direction(column-reverse);
  border-top: 2px solid $primary;
  height: $message-bay-height;
  width: 100%;
  bottom: 0;
  left: 0;

  @media (min-width: 32em) {
    @include flex-direction(row);
  }

  .message-container {
    @include padding(10px);
    background: rgba(grey, 0.2);
    border: none;
    resize: none;
    height: 100%;
    width: 100%;

    &:focus,
    &:active {
      background: white;
      outline: none;
    }
  }

  .message-button {
    @include position(relative);
    @include padding(0);
    @include margin(0);
    @include transition(all 0.15s linear);
    width: 100%;
    min-height: 50px;
    height: 100%;
    border: none;
    background: $acc1;
    color: white;
    font-size: 1.15em;
    overflow: hidden;

    @media (min-width: 32em) {
      max-width: 150px;
    }
  }
}
